
body {
    background-color: #8af0fd;
    font-size: 20px;
}
img {
    width: 700px;
    size-adjust: 500px;
    padding-left: 0px;
    padding-right: 300px;
    padding-top: 10px; 
    border-color: black 20px;
}

.img1 {
    width: 200px;
    height: 200px;
    border-color: rgb(71, 7, 7) 15px;
    margin: 15px;
    border: 25px;
    float: right;
    padding-left: 300px;
    padding-right: 300px;

    border-radius: 50%;
   padding-top: 0px;
   margin-top: 0px;
   

}

  h1 {
      color: blue;
  }
  h2 {
      color: rgb(2, 57, 59);
     }

  figcaption {
      font-size: small;
      font-style: italic;
             }